@{
    ViewData["Title"] = "Interfaz administrador";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container my-5">

    <div class="text-center">
        <img src="https://png.pngtree.com/background/20230330/original/pngtree-the-young-man-doctor-in-medical-concept-young-man-doctor-in-picture-image_2190626.jpg" alt="Foto de perfil" class="rounded-circle mb-3" width="150" height="150">
        <h4 class="text-danger">@ViewBag.Admin.Id: @ViewBag.Admin.Firstname @ViewBag.Admin.Lastname</h4>
    </div>

    <div class="row">

        <div class="col-md-6">
            <p><strong>TIPO DE DOCUMENTO:</strong> @ViewBag.Admin.TypeDocument</p>
            <p><strong>NÚMERO DE DOCUMENTO:</strong> @ViewBag.Admin.Id</p>
            <p><strong>FECHA DE NACIMIENTO:</strong> @ViewBag.Admin.Birthdate</p>
            <p><strong>NACIONALIDAD:</strong> @ViewBag.Admin.Nationality</p>
            <p><strong>SEXO:</strong> @ViewBag.Admin.Genre</p>
            <p><strong>EMAIL:</strong> @ViewBag.Admin.Email</p>
            <p><strong>FECHA DE INGRESO:</strong> @ViewBag.Admin.DateEntry</p>
        </div>

        <div class="col-md-6">
            <p><strong>TELEFONO:</strong> @ViewBag.Admin.Phone</p>
            <p><strong>DIRECCION:</strong> @ViewBag.Admin.Address</p>
            <p><strong>AREA:</strong> @ViewBag.Admin.Area</p>
            <p><strong>CARGO:</strong> @ViewBag.Admin.Position</p>
            <p><strong>ESPECIALIDAD:</strong> @ViewBag.Admin.Specialty</p>
        </div>
    </div>

</div>